*.log

node_modules/*

.eslintcache

logs

coverage

build

public/static

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

now.json

.vscode/todolist
.vscode/workspace.code-workspace